table {
    width: 100%;
    flex: 1 1 auto;

   /*  .active-icon{
        border-radius: 50%;
    } */
}.mat-card{
    .filter-input{
        font-size : 12px;
        margin-right: 2px;
    }

}
.mat-sort-header-container {
    align-items: center;
  }

.container {

    
    height: 100%;
    width: 100%;
}
