table {
    width: 100%;
    flex: 1 1 auto;

    .active-icon{
        border-radius: 50%;
    }
}
.container {
    height: 100%;
    width: 100%;
    
}
.mat-card{
    .filter-input{
        font-size : 12px;
    }
        
}
