

<div class="container p-24" fusePerfectScrollbar fxLayout="column" fxLayoutGap="15px">
<mat-card >
  <mat-card-header>
    <mat-card-title>{{ 'MAINTENANCE.PARTS.MAINTENANCE_PERIOD' | translate}}</mat-card-title>
  </mat-card-header>
<!--   <div style="margin-bottom:5px;">
    <button mat-raised-button (click)="isFilterOpen = !isFilterOpen"> {{ 'MAINTENANCE.GENERAL.FILTER_BUTTON' | translate}} </button>
    <button mat-raised-button style="float: right;" (click)="newMaintenance()"> {{ 'MAINTENANCE.GENERAL.NEW_MAINTENANCE_BUTTON' | translate}} </button>
    <button mat-raised-button style="margin-right: 2px;float: right;" (click)="printToExcel()"> {{ 'MAINTENANCE.GENERAL.EXPORT_BUTTON' | translate}} </button>
  </div>
    


<div *ngIf="isFilterOpen" style="margin-bottom: 5px;">
  <mat-card>
    <div fxLayout.md="row wrap" fxLayoutAlign="space-between none" fxLayout.lt-md="column" fxLayoutGap="5px">
      <mat-form-field appearance="outline" fxFlex class="filter-input">
        <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_VEHICLE_TYPE' | translate }}</mat-label>
        <mat-select matNativeControl  disableOptionCentering [(ngModel)]="filter.vehicleTypeId">
          <mat-option *ngFor="let vehicleType of vehicleTypes" [value]= vehicleType.id >{{vehicleType.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex class="filter-input">
          <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_TYPE' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_TYPE' | translate }}" [(ngModel)]="filter.maintenanceType">
        
      </mat-form-field>


      <mat-form-field appearance="outline" fxFlex class="filter-input">
        <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_REMEMBER_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="rememberDatePicker"  [(ngModel)]="filter.rememberDate">
        <mat-datepicker-toggle matSuffix [for]="rememberDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #rememberDatePicker></mat-datepicker>
      </mat-form-field>

   
    </div>
    <div fxLayout="column">
      <div>
        <button mat-raised-button style="float: right;" (click)="getFilter()"> {{ 'MAINTENANCE.GENERAL.FILTER_BUTTON' | translate}} </button>
        <button mat-raised-button style="float: right; margin-right: 10px; " class="orange-300-bg" (click)="getReset()"> {{ 'MAINTENANCE.GENERAL.FILTER_RESET' | translate}} </button>
      </div>
    </div>
  </mat-card>
</div>
  aaaaAAAAASASAS -->
</mat-card>




<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'MAINTENANCE.PARTS.MAINTENANCE_RESULTS' | translate}}</mat-card-title>
  </mat-card-header>
   <div style="margin-bottom:5px;">
        <button mat-raised-button color="accent" (click)="isResultFilterOpen = !isResultFilterOpen"> {{ 'MAINTENANCE.GENERAL.FILTER_BUTTON' | translate}} </button>  
      <button mat-raised-button style="float: right;margin-right: 2px;" (click)="newMaintenanceResult()"> {{ 'MAINTENANCE.GENERAL.NEW_MAINTENANCE_RESULT_BUTTON' | translate}} </button>
        <button mat-raised-button style="margin-right: 2px;float: right;" (click)="printToExcelResult()"> {{ 'MAINTENANCE.GENERAL.EXPORT_BUTTON' | translate}} </button> 
        <button mat-raised-button (click)="isResultOpenImport = !isResultOpenImport;" style="margin-bottom: 5px;float: right;margin-right: 2px;"> {{'MAINTENANCE.GENERAL.IMPORT_BUTTON' | translate}}</button> 
    </div>
      
  
  
   <div *ngIf="isResultFilterOpen" style="margin-bottom: 5px;" class="mat-elevation-z4">
    <mat-card>
      <div fxLayout.md="row wrap" fxLayoutAlign="space-between none" fxLayout.lt-md="column" fxLayoutGap="5px">
        <mat-form-field appearance="outline" fxFlex class="filter-input">
          <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_VEHICLE_ID' | translate }}</mat-label>
          <mat-select matNativeControl  disableOptionCentering [(ngModel)]="resultFilter.vehicleId">
            <mat-option *ngFor="let vehicle of vehicles" [value]= vehicle.id >{{ vehicle?.brand?.name }} {{ vehicle?.model?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex class="filter-input">
            <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_TYPE' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_TYPE' | translate }}" [(ngModel)]="resultFilter.maintenanceType">
          
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex class="filter-input">
          <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_MILEAGE' | translate }}</mat-label>
          <input matInput type="NUMBER" placeholder="{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_MILEAGE' | translate }}" [(ngModel)]="resultFilter.maintenanceMileage">
        
      </mat-form-field>
      
  
  
  
     
      </div>
       <div fxLayout="column">
        <div>
          <button mat-raised-button style="float: right;" (click)="getResultFilter()"> {{ 'MAINTENANCE.GENERAL.FILTER_BUTTON' | translate}} </button>
          <button mat-raised-button style="float: right; margin-right: 10px; " class="orange-300-bg" (click)="getResultReset()"> {{ 'MAINTENANCE.GENERAL.FILTER_RESET' | translate}} </button>
        </div>
      </div> 
    </mat-card>
  </div> 
  
    <mat-card *ngIf="isResultOpenImport" style="width: 100%;margin-bottom: 5px;" class="mat-elevation-z4">
      <input #excelFile type="file" /> 
      <button mat-raised-button style="margin-right: 5px;"(click)="processExcelFile()" >{{'MAINTENANCE.TRANSFER.STARTTRANSFER'   | translate}}</button>
      <button mat-raised-button (click)="clearcalcerResult()">{{'MAINTENANCE.TRANSFER.CANCEL' | translate}}</button>
   </mat-card>

   <div class="mat-elevation-z8">
      <table mat-table #resultSort='matSort' [dataSource]="dataResultSource" matSort >
  
              <ng-container matColumnDef = 'vehicleBrand'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.VEHICLE_ID' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element?.vehicle?.brand?.name }} {{ element?.vehicle?.model?.name }} </td>
              </ng-container>
  
            
  
              <ng-container matColumnDef = 'maintenanceMileage'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.MAINTENANCE_MILEAGE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element?.maintenanceMileage }} </td>
              </ng-container>
  
              <ng-container matColumnDef = 'maintenanceType'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.MAINTENANCE_TYPE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element.maintenanceType }} </td>
              </ng-container>
  
              <ng-container matColumnDef = 'maintenanceDate'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.MAINTENANCE_DATE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element.maintenanceDate|date: "dd/MM/yyyy" }} </td>
              </ng-container>

              
  
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;">{{'MAINTENANCE.TABLE.ACTIONS' | translate}}</th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="belowMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="updateMaintenanceResult(element)">
                      <mat-icon>edit</mat-icon>
                      <span>{{'MAINTENANCE.GENERAL.EDIT_BUTTON' | translate}}</span>
                  </button>
                    <button mat-menu-item (click)="deleteMaintenanceResult(element)">
                        <mat-icon>delete</mat-icon>
                        <span>{{'MAINTENANCE.GENERAL.DELETE_BUTTON' | translate}}</span>
                    </button>
                    
                  </mat-menu>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumnsResult"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsResult;" (click)="updateMaintenanceResult(row)"></tr>
            </table>
            <mat-paginator #resultPaginator [length]="100" style="width: 100%;"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50]">
          </mat-paginator>
      
   
  </div>
  
</mat-card>


<mat-card fusePerfectScrollbar fxLayout="column">
  <mat-card-header>
    <mat-card-title>{{ 'MAINTENANCE.PARTS.MAINTENANCE_DEFINITIONS' | translate}}</mat-card-title>
  </mat-card-header>
  <div style="margin-bottom:5px;">
      <button mat-raised-button color="accent" (click)="isFilterOpen = !isFilterOpen"> {{ 'MAINTENANCE.GENERAL.FILTER_BUTTON' | translate}} </button>
      <button mat-raised-button style="float: right;" (click)="newMaintenance()"> {{ 'MAINTENANCE.GENERAL.NEW_MAINTENANCE_BUTTON' | translate}} </button>
     <button mat-raised-button style="margin-right: 2px;float: right;" (click)="printToExcelDefinition()"> {{ 'MAINTENANCE.GENERAL.EXPORT_BUTTON' | translate}} </button>  
      <!-- <button mat-raised-button (click)="isOpenImport = !isOpenImport;" style="margin-bottom: 5px;float: right;margin-right: 2px;"> {{'MAINTENANCE.GENERAL.IMPORT_BUTTON' | translate}}</button>  -->
    </div>
      
  
  
  <div *ngIf="isFilterOpen" style="margin-bottom: 5px;" class="mat-elevation-z4">
    <mat-card>
      <div fxLayout.md="row wrap" fxLayoutAlign="space-between none" fxLayout.lt-md="column" fxLayoutGap="5px">
        <mat-form-field appearance="outline" fxFlex class="filter-input">
          <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_VEHICLE_TYPE' | translate }}</mat-label>
          <mat-select matNativeControl  disableOptionCentering [(ngModel)]="filter.vehicleTypeId">
            <mat-option *ngFor="let vehicleType of vehicleTypes" [value]= vehicleType.id >{{vehicleType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex class="filter-input">
            <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_TYPE' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'MAINTENANCE.FILTER.SEARCH_FOR_MAINTENANCE_TYPE' | translate }}" [(ngModel)]="filter.maintenanceType">
          
        </mat-form-field>
  
  
        <mat-form-field appearance="outline" fxFlex class="filter-input">
          <mat-label>{{ 'MAINTENANCE.FILTER.SEARCH_FOR_REMEMBER_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="rememberDatePicker"  [(ngModel)]="filter.rememberDate">
          <mat-datepicker-toggle matSuffix [for]="rememberDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #rememberDatePicker></mat-datepicker>
        </mat-form-field>

   
  
     
      </div>
      <div fxLayout="column">
        <div>
          <button mat-raised-button style="float: right;" (click)="getFilter()"> {{ 'MAINTENANCE.GENERAL.FILTER_BUTTON' | translate}} </button>
          <button mat-raised-button style="float: right; margin-right: 10px; " class="orange-300-bg" (click)="getReset()"> {{ 'MAINTENANCE.GENERAL.FILTER_RESET' | translate}} </button>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-card *ngIf="isOpenImport" style="width: 100%;margin-bottom: 5px;" class="mat-elevation-z4">
    <input #excelFile type="file" /> 
    <button mat-raised-button style="margin-right: 5px;"(click)="processExcelFileDefinition()" >{{'MAINTENANCE.TRANSFER.STARTTRANSFER'   | translate}}</button>
    <button mat-raised-button (click)="clearcalcerDefinition()">{{'MAINTENANCE.TRANSFER.CANCEL' | translate}}</button>
 </mat-card>

  <div class="mat-elevation-z8">
      <table #sort='matSort' mat-table [dataSource]="dataSource" matSort >
  
              <ng-container matColumnDef = 'vehicleType'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.VEHICLE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element?.vehicleType?.name }} </td>
              </ng-container>
  
            
  
              <ng-container matColumnDef = 'maintenanceMileage'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.MAINTENANCE_MILEAGE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element.maintenanceMileage }} </td>
              </ng-container>
  
              <ng-container matColumnDef = 'maintenanceType'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.MAINTENANCE_TYPE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element.maintenanceType }} </td>
              </ng-container>
  
              <ng-container matColumnDef = 'rememberDate'>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.REMEMBER_DATE' | translate }}</th>
                  <td mat-cell *matCellDef='let element'> {{ element.rememberDate|date: "dd/MM/yyyy" }} </td>
              </ng-container>
  
             <!--  <ng-container matColumnDef = 'maintenancePath'>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MAINTENANCE.TABLE.MAINTENANCE_PATH' | translate }}</th>
                <td mat-cell *matCellDef='let element'> {{ element.maintenancePath }} </td>
            </ng-container> -->
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;">{{'MAINTENANCE.TABLE.ACTIONS' | translate}}</th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                  <button mat-icon-button [matMenuTriggerFor]="belowMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #belowMenu="matMenu" yPosition="below">

                    <button mat-menu-item (click)="updateMaintenance(element)">
                      <mat-icon>edit</mat-icon>
                      <span>{{'MAINTENANCE.GENERAL.EDIT_BUTTON' | translate}}</span>
                  </button>
             
                    <button mat-menu-item (click)="deleteMaintenance(element)">
                        <mat-icon>delete</mat-icon>
                        <span>{{'MAINTENANCE.GENERAL.DELETE_BUTTON' | translate}}</span>
                    </button>
                    
                  </mat-menu>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updateMaintenance(row)"></tr>
            </table>
      
          <mat-paginator #paginator [length]="100" style="width: 100%;"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
  </div>
        </mat-card>

      </div>