<h2 mat-dialog-title *ngIf='!editMode'>{{ 'FUEL.POPUP.NEW' | translate }}</h2>
<h2 mat-dialog-title *ngIf='editMode'>{{ 'FUEL.POPUP.EDIT' | translate }}</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup] = 'fuelForm'>
        <div fxLayout = 'column' fxLayoutAlign = 'start none' fxLayoutWrap style="width: 100%; height: 100%;">
            
            <div fxLayout.md = 'row wrap' fxLayoutAlign = 'start none' fxLayout.lt-md = 'column'> 
                <mat-form-field appearance='outline' fxFlex>
                    <mat-label>{{ 'FUEL.POPUP.VEHICLE' | translate }}</mat-label>
                    <mat-icon matSuffix>directions_car</mat-icon>
                    <mat-select formControlName="vehicleId" [(ngModel)]="fuel.vehicleId" disableOptionCentering required>
                        <mat-option *ngFor="let vehicle of vehicles" [value]=vehicle.id>{{vehicle?.brand?.name}} {{vehicle?.model?.name}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="isControlHasError('vehicleId', 'required')">
                        <strong>{{'FUEL.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field appearance='outline' fxFlex>
                    <mat-label>{{ 'FUEL.POPUP.FUEL_TYPE' | translate }}</mat-label>
                    <mat-icon matSuffix>local_gas_station</mat-icon>
                    <input type="text" formControlName="fuelType" [(ngModel)]="fuel.fuelType" matInput placeholder="{{ 'FUEL.POPUP.FUEL_TYPE' | translate }}">
                    <mat-error *ngIf="isControlHasError('fuelType', 'required')">
                        <strong>{{'FUEL.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance = "outline" fxFlex>
                    <mat-label>{{ 'FUEL.POPUP.LITER' | translate }}</mat-label>
                    <input type='number' min="0" matInput placeholder="{{ 'FUEL.POPUP.LITER' | translate }}" formControlName="liter" [(ngModel)]="fuel.liter">
                    <span style="margin-left: 10px;" matSuffix>L</span>
                    <!-- <mat-error *ngIf="isControlHasError('liter', 'required')">
                        <strong>{{'FUEL.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div fxLayout.md = 'row wrap' fxLayoutAlign = 'start none' fxLayout.lt-md = 'column'> 
                <mat-form-field appearance = "outline" fxFlex>
                    <mat-label>{{ 'FUEL.POPUP.TAKEN_DATE' | translate }}</mat-label>
                    <input matInput [matDatepicker]="fuelPurchasePicker" formControlName="takenDate" [(ngModel)]="fuel.takenDate">
                    <mat-datepicker-toggle matSuffix [for]="fuelPurchasePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fuelPurchasePicker></mat-datepicker>
                    <!-- <mat-error *ngIf="isControlHasError('takenDate', 'required')">
                        <strong>{{'FUEL.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field appearance = "outline" fxFlex>
                    <mat-label>{{ 'FUEL.POPUP.MILEAGE' | translate }}</mat-label>
                    <mat-icon matSuffix>near_me</mat-icon>
                    <input type="number"  min="0" matInput placeholder="{{ 'FUEL.POPUP.MILEAGE' | translate }}"  formControlName="mileage" [(ngModel)]="fuel.mileage">
                    <!-- <mat-error *ngIf="isControlHasError('mileage', 'required')">
                        <strong>{{'FUEL.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error> -->
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'FUEL.POPUP.CANCEL' | translate }}</button>
    <button mat-button [disabled]="fuelForm.invalid || fuelForm.pristine" (click)="saveFull()">{{ 'FUEL.POPUP.SAVE' | translate }}</button>
</mat-dialog-actions>